<p-panel header="Ventas" [style]="{ width: '70%', margin: '0 auto' }">
  <div style="margin-bottom: 20px">
    <button pButton type="button" icon="pi pi-plus" (click)="showSaveDialog()" label="Nueva Venta"></button>
    <p-menubar [model]="items"></p-menubar>
  </div>

  <p-table [value]="ventas" [columns]="cols" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-venta let-columns="columns">
      <tr>
        <td>{{ venta.idVenta }}</td>
        <td>{{ venta.fechaVenta }}</td>
        <td>{{ venta.empleado?.fulldate }}</td>
        <td>{{ venta.cliente?.nombre_cliente }}</td>
        <td>{{ venta.estado }}</td>
        <td>{{ venta.total }}</td>
        <td>
          <!-- Aquí puedes agregar botones para editar o eliminar la venta -->
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Nueva venta" [(visible)]="displaySaveDialog" [style]="{ width: '50%', margin: '0 auto', height: '50%' }">
    <form [formGroup]="formGroup">

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="estado">Estado</label>
        </div>
        <div class="ui-g-8">
          <!-- Input para el campo de estado -->
          <input pInputText id="estado" formControlName="estado" style="width: 100%" />
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="id_cliente">DNI del Cliente</label>
        </div>
        <div class="ui-g-8">
          <!-- Input para el campo de DNI del cliente -->
          <input pInputText id="id_cliente" formControlName="id_cliente" style="width: 100%" />
          <div *ngIf="formGroup.controls['id_cliente'].invalid && formGroup.controls['id_cliente'].touched"
            class="ui-message ui-messages-error">
            <span class="ui-message-text">El DNI seleccionado es inválido.</span>
          </div>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="cantidad">Cantidad</label>
        </div>
        <div class="ui-g-8">
          <!-- Input para el campo de cantidad -->
          <input pInputText id="cantidad" formControlName="cantidad" style="width: 100%" />
          <div *ngIf="formGroup.controls['cantidad'].invalid && formGroup.controls['cantidad'].touched"
               class="ui-message ui-messages-error">
            <span class="ui-message-text">La cantidad es requerida y debe ser un número válido.</span>
          </div>
        </div>
      </div>            
      
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="id_producto">ID del Producto</label>
        </div>
        <div class="ui-g-8">
          <!-- Input para ingresar el ID del producto -->
          <input pInputText id="id_producto" formControlName="id_producto" style="width: 100%" />
          <div *ngIf="formGroup.controls['id_producto'].invalid && formGroup.controls['id_producto'].touched"
            class="ui-message ui-messages-error">
            <span class="ui-message-text">El ID del producto es requerido y debe ser un número válido.</span>
          </div>
        </div>
      </div>

    </form>
    <div class="ui-g-12" style="text-align: right; margin-top: 20px;">
      <button pButton type="button" (click)="crearVenta()" label="Guardar"></button>
      <button pButton type="button" (click)="displaySaveDialog = false" label="Cancelar" class="ui-button-secondary"></button>
    </div>
  </p-dialog>
</p-panel>
