<div class="contenedor-formulario contenedor">
  <img src="./assets/rojas (1).png">
  <form class="formulario" [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="texto-title">
      <ul class="login-reg-txt">
        <li><a routerLink="/principal/login" class="active">Iniciar sesión</a></li>
      </ul>
      <div class="login-reg-line">
        <hr class="cla active">
        <hr class="cla des">
      </div>
    </div>
    <div class="texto-formulario">
      <h2>Bienvenido</h2>
    </div>
    <div class="input mb-4">
      <input type="text" pInputText placeholder="Digite su nombre de usuario" autocomplete="off" formControlName="correo">
  
    </div>
    <div class="input mb-4">
      <input type="password" pPassword placeholder="Digite su contraseña" autocomplete="off" formControlName="contrasena">

    </div>
    <br>
    <div class="input d-flex">
      <button pButton type="submit" class="full-width custom-button" label="Iniciar Sesión"></button>
      <br>
      <button pButton type="reset" class="full-width custom-button" label="Limpiar"></button>      
    </div>
  </form>
</div>

